{% extends "network/layout.html" %}
{% load static %}

{% block body %}

    </div>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissible fade show">
                <strong>{{ message.tags | capfirst }}!</strong> {{message}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
    {% endif %}
    <div>

    <div class="container w-90 mx-auto mb-4">
        <h1>Edit You Post</h1>
        <hr>

        <form method="post" action="{% url 'edit' post_id=post.id %}">
            {% csrf_token %}

            <textarea class="form-control" name="edit_content" id="edit_area">{{ post.content }}</textarea>
            <input type="submit" class="btn btn-info mt-2 p-1" value="Edit"/>
            <a href="{% url 'index' %}" role="button" class="btn btn-danger mt-2 p-1">Cancel</a>
        </form>
        
    </div>


{% endblock %}